* {
  font-family: "Montserrat", sans-serif;
}

.bg-red-gradient {
  background: linear-gradient(to top left, #A52622, #E93F36) !important;
}

.bg-admin {
  background: linear-gradient(to top left, #252328, #282828) !important;
}

.background-admin-gradient {
  height: 100vh;
  background: linear-gradient(to top left, #151418, #1e1e1e) !important;
}

.admin-header {
  background: linear-gradient(to top left, #A52622, #E93F36) !important;
  border-radius: 1rem;
  height: 68px;
}
.admin-header nav {
  height: auto;
}
.admin-header nav ul li .nav-link {
  color: #cdcdcd;
}
.admin-header nav ul li .nav-link:hover {
  color: #F7F7F5;
}
.admin-header nav ul li .active {
  color: #F7F7F5;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.nav-item {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}
.nav-item:hover:not(.nav-item:last-child) {
  transform: translateY(-0.2rem);
  transition: transform ease-in-out 0.5s;
}

.form-nav-item {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #cdcdcd;
}
.form-nav-item .active:link {
  color: #DC2E25;
}
.form-nav-item:hover {
  transform: translateY(-0.2rem);
  transition: transform ease-in-out 0.5s;
}

.table-dark {
  --bs-table-bg: $cardBgBlack1 !important;
  background-color: #252328 !important;
  border-radius: 15px !important;
}

.img-thumbnail {
  width: 100%;
  max-width: 3rem !important;
}

.admin-form-title {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.btn-primary {
  background: linear-gradient(to top left, #A52622, #E93F36) !important;
  border: none !important;
}

.card {
  background: linear-gradient(to top left, #252328, #282828) !important;
  color: white;
  border-radius: 15px !important;
}

.card-title {
  font-size: 16px !important;
}

.card-text {
  font-size: 12px !important;
}

.bg-badge-purple {
  background-color: #ebe5fc;
  color: #5227cc !important;
}

.bg-badge-disabled {
  background-color: #f8d7da;
  color: #58151c !important;
}

.table-border {
  border-radius: 15px !important;
}

.form-label {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.w-300px {
  width: 300px;
}

.h-dashboard {
  height: 100%;
  max-height: 580px;
}

.admin-link {
  color: #3b36da;
  text-decoration: none;
}
.admin-link .bi {
  margin-right: 5px;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1550px !important;
  }
}
/*// Glow Border Animation //*/
.animated-border-box, .animated-border-box-glow {
  max-height: 90vh;
  max-width: 90vw;
  height: 500px;
  width: 400px;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  /* Border Radius */
  border-radius: 10px;
}

.animated-border-box-glow {
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(rgba(0, 0, 0, 0), #DC2E25, rgba(0, 0, 0, 0) 25%);
  /* change speed here */
  animation: rotate 10s linear infinite;
}

.animated-border-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  /* border width */
  left: 5px;
  top: 5px;
  /* double the px from the border width left */
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  /*bg color*/
  background: #292a2e;
  /*box border radius*/
  border-radius: 7px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
/*// Border Animation END//*/
.card {
  width: 100%;
  height: 100%;
  background: none !important;
}

input {
  background-color: #1e1e1e !important;
  border-color: #2F2F2F !important;
}/*# sourceMappingURL=adminLogin.css.map */