@charset "UTF-8";
.range-item {
  position: relative;
}

.range-item:not(:last-child) {
  margin-bottom: 24px;
}

.range-item .range-input {
  margin-top: 6px;
}

.range-item .range-input input {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.range-input .value-indicator {
  position: absolute;
  top: -25px; /* Ajusta la posición según tu diseño */
  left: 50%;
  transform: translateX(-50%);
  display: none; /* Inicialmente oculto */
  background-color: #fff; /* Color de fondo del valor */
  padding: 2px 6px; /* Ajusta el padding según tu diseño */
  border-radius: 4px; /* Ajusta el radio de borde según tu diseño */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra si es necesario */
}

.range-input input:focus + .dot-line .value-indicator {
  display: block; /* Muestra el valor cuando se hace clic en la bola */
}

.range-item ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(100% + 34.4px);
  margin: 0 -17px;
}

.range-item ul .list-inline-item:not(:last-child) {
  margin-right: 0;
}

.range-item ul .list-inline-item span {
  position: relative;
  min-width: 58px;
  text-align: center;
  display: block;
  font-size: 14px;
  padding-top: 4px;
  word-break: break-word;
  color: #b1b1b1;
}

.range-item .range-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: calc(100% - 14px);
  background-color: #ddd;
  z-index: 0;
  margin: 0 7px;
  border-radius: 50px;
  overflow: hidden;
}

.range-item .range-input.disable-range + ul .list-inline-item span::before {
  background-color: #b1b1b1;
}

.range-item .range-input.disable-range .range-line .active-line {
  background-color: #b1b1b1;
}

.range-item .range-input.disable-range + ul .list-inline-item.active span::before {
  background-color: #777777;
}

.range-item .range-input .dot-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 24px);
  left: 0;
  z-index: 1;
}

.range-item .range-input .active-dot {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  background-color: #ddd;
  height: 24px;
  width: 24px;
  border: 4px solid #DC2E25;
  z-index: 11;
  left: 0%;
  border-radius: 50%;
}

.range-item .range-input .range-line .active-line {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to top left, #A52622, #E93F36) !important;
  transition: all 0.1s ease;
}

.range-item ul .list-inline-item span::before {
  content: "";
  display: block;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #696969;
}

.range-item ul .list-inline-item.active span::before {
  background-color: white;
}

.range-item .range-input input:disabled ~ .dot-line .active-dot {
  background-color: #d9d9d9;
  border: 4px solid #b1b1b1;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  -moz-appearance: none;
       appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border: 4px solid rgba(0, 0, 0, 0);
  z-index: 11;
  box-shadow: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: rgba(0, 0, 0, 0);
  height: 24px;
  width: 24px;
  border: 4px solid rgba(0, 0, 0, 0);
  box-shadow: none;
  z-index: 11;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]::-moz-range-progress {
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]::-ms-track {
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]::-moz-range-track {
  background-color: rgba(240, 240, 240, 0);
}

/* IE*/
input[type=range]::-ms-fill-lower {
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]::-ms-fill-upper {
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: none !important;
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: none !important;
  background-color: rgba(240, 240, 240, 0);
}

input[type=range]:focus::-ms-thumb {
  background-color: rgba(240, 240, 240, 0);
  box-shadow: none !important;
}

input[type=range]:disabled::-webkit-slider-thumb {
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0);
}

input[type=range]:disabled::-moz-range-thumb {
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0);
}/*# sourceMappingURL=range.css.map */