// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import 'variables_app';
@import 'mixins';
@import 'range';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


* {
    font-family: "Montserrat", sans-serif;
}

.bg-red-gradient {
    @include backgroundGradient($gradientRed1, $gradientRed2);
}

.bg-admin {
    @include backgroundGradient($cardBgBlack1, $cardBGBlack2);
}

.background-admin-gradient{
    height: 100vh;
    @include backgroundGradient($primaryBlack, $secondaryBlack);
}

.breadcrumb-item {
    font-weight: 500;
    letter-spacing: 2px;

    &::before {
        content: '' !important;
    }
    &.active {
        color: $defaultRed !important;
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
    } 
}

#bannerPreview > img {
    height: 40rem !important;
}


.admin-header {
    @include backgroundGradient($gradientRed1, $gradientRed2);
    border-radius: 1rem;
    height: 68px;

    nav {
        height: auto;
        ul {
            li {
                .nav-link {

                    color: $grey;

                    &:hover {
                        color: $white;
                    }

                }

                .active {
                    color: $white;
                    text-decoration: underline;
                    text-underline-offset: 10px;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;

    &:hover:not(&:last-child) {
        transform: translateY(-0.2rem);
        transition: transform ease-in-out 0.5s;
    }
}

.form-nav-item {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: $grey;

    .active {

            color: $defaultRed;

    }

    &:hover {
        transform: translateY(-0.2rem);
        transition: transform ease-in-out 0.5s;
    }
}

.table-dark {
    --bs-table-bg: $cardBgBlack1 !important;
    background-color: $cardBgBlack1 !important;
    border-radius: 15px !important;
}

.img-thumbnail {
    width: 100%;
    max-width: 3rem !important;
}

.admin-form-title {
    font-weight: bold;
    font-size: 24px;
    color: white
}

.btn-primary {
    @include backgroundGradient($gradientRed1, $gradientRed2);
    border: none !important;
}


.card { 
    @include backgroundGradient($cardBgBlack1, $cardBGBlack2);
    color: white;
    border-radius: 15px !important;
}

.card-title {
    font-size: 16px !important;
}

.card-text {
    font-size: 12px !important;
}

.bg-badge-purple {
    background-color: #ebe5fc;
    color: #5227cc !important;
}

.bg-badge-disabled {
    background-color: #f8d7da;
    color: #58151c !important;
}

.table-border {
    border-radius: 15px !important;
}

.form-label {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.w-300px { width: 300px; }

.h-dashboard { 
    height: 100%;
    max-height: 580px;
 }


.admin-link {
    color: $adminLinks;
    text-decoration: none;

    .bi {
        margin-right: 5px;
    }
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1550px !important;
    }
}